:root {
    --orange : hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue:hsl(200,13%,13%);
    --dark-grayish-blue:hsl(219, 9%, 45%);
    --light-grayish-blue:hsl(223, 64%, 98%);
    --white:hsl(0,0%,100%);
    --black: hsl(0, 0%, 0%);
}
* {
    font-family: KumbhSans;
    font-size: 16px;
}
@font-face {
    font-family: KumbhSans;
    font-weight: 400;
    src : url("./assets/font/KumbhSans-Medium.ttf");
}
@font-face {
    font-family: KumbhSans;
    font-weight: 700;
    src : url("./assets/font/KumbhSans-Bold.ttf");
}
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.logo {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.menu-section {
    display: flex;
    flex:1;
}
.menu-items {
    list-style-type: none;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: var(--dark-grayish-blue);
}
.menu-items :hover{
    color: var(--very-dark-blue);
}
.menu-items :active{
    color: var(--very-dark-blue);
}
.menu-items > li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}
.cart, .avatar {
    width: 60px;
    height: 60px;
    cursor: pointer;
}